In [59]:
import pandas as pd

In [60]:
df = pd.DataFrame([[1,2,3],[4,5,6],[7,8,9]], columns=["A", "B", "C"], index = ['x','y','z'])

In [61]:
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [62]:
df.head(1)

   A  B  C
x  1  2  3

In [63]:
df.head(2)

   A  B  C
x  1  2  3
y  4  5  6

In [64]:
df.columns

Index(['A', 'B', 'C'], dtype='object')

In [65]:
df.index.tolist()

['x', 'y', 'z']

In [66]:
df.head()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, x to z
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       3 non-null      int64
 1   B       3 non-null      int64
 2   C       3 non-null      int64
dtypes: int64(3)
memory usage: 96.0+ bytes

In [68]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [69]:
df.shape

(3, 3)

In [70]:
df.size

9

In [71]:
coffee=pd.read_csv(r'C:\Users\zoyba\python\LIBRARIES\complete-pandas-tutorial-master\warmup-data\coffee.csv')

In [72]:
coffee.head()

         Day Coffee Type  Units Sold
0     Monday    Espresso          25
1     Monday       Latte          15
2    Tuesday    Espresso          30
3    Tuesday       Latte          20
4  Wednesday    Espresso          35

In [73]:
results = pd.read_parquet(r'C:\Users\zoyba\python\LIBRARIES\complete-pandas-tutorial-master\data\results.parquet')

In [74]:
results.head()

,year,type,discipline,event,as,athlete_id,noc,team,place,tied,medal
0,1912.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,17.0,True,None
1,1912.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jean Montariol,NaN,False,None
2,1920.0,Summer,Tennis,"Singles, Men (Olympic)",Jean-François Blanchy,1,FRA,None,32.0,True,None
3,1920.0,Summer,Tennis,"Doubles, Mixed (Olympic)",Jean-François Blanchy,1,FRA,Jeanne Vaussard,8.0,True,None
4,1920.0,Summer,Tennis,"Doubles, Men (Olympic)",Jean-François Blanchy,1,FRA,Jacques Brugnon,4.0,False,None

In [ ]:
#to see the entire dataframe 
results

## Accessing Data

In [ ]:
results.tail(5)

In [ ]:
results.sample(10, random_state=1) #accessing random set of data, random_set =1 makes the data constant

In [ ]:
#loc, iloc -> used to access specific rows and columns of the dataframe
results

In [ ]:
results.loc[0]  #this gives us the data of the first row (index 0) specifically

In [ ]:
results.loc[2]

In [ ]:
results.loc[[0,1,2]]

In [ ]:
#slicing with loc
results.loc[0:3]

In [ ]:
results.loc[0:]

In [ ]:
results.loc[-1:1]

In [ ]:
results.loc[0:5, ["year", "type"]]

In [ ]:
#iloc
results.iloc[1:5, [0,1]] #instead of passing the column names, just pass the location of the column 
#with iloc, the upper index (5 in this case) is not inclusive, unlike loc

In [ ]:
coffee

In [ ]:
coffee.iloc[[0,1,5]]

In [ ]:
coffee.loc[[0,1,5], ["Day", "Coffee Type"]]

In [ ]:
coffee.iloc[[0,1,5],[0,1]]

In [ ]:
coffee.index.tolist()

In [ ]:
coffee = coffee.reset_index()
coffee.set_index("Day", inplace=True)
coffee.loc[['Monday', 'Wednesday'], "Units Sold"] = 10
coffee

In [ ]:
coffee.loc[2, "Units Sold"] = 50 #modifying specific values
coffee

In [ ]:
coffee.loc["Monday":"Wednesday"]

In [ ]:
#.at and .iat

In [ ]:
coffee.at["Monday", "Units Sold"]

In [ ]:
coffee.iat[0,1]

In [ ]:
for index, row in coffee.iterrows():
    print(index)
    print(row)
    print("\n\n")

## Sorting the Data

In [ ]:
coffee.sort_values("Units Sold") #sort the data by Units Sold, increasing order

In [ ]:
coffee.sort_values("Units Sold", ascending = False) #decreasing order

In [ ]:
coffee.sort_values("Coffee Type") #sorts in alphabetical order

## Filtering Data

In [ ]:
bios=pd.read_csv(r'C:\Users\zoyba\python\LIBRARIES\complete-pandas-tutorial-master\data\bios.csv')

In [ ]:
bios

In [ ]:
bios.loc[bios['height_cm']>200]

In [ ]:
bios.loc[bios['height_cm']>200, ["name", "height_cm"]]

In [ ]:
bios[(bios['height_cm']>200) & (bios['born_country']=='USA')]

In [ ]:
bios[bios['name'].str.contains("Kyle", case=True)]

In [ ]:
bios[bios['born_country'].isin(["USA", "FRA"]) & (bios['name'].str.startswith("James"))]

In [ ]:
bios.query('born_country=="USA" and born_city=="New York"')

## Adding/Removing columns

In [ ]:
coffee['price'] = 200

In [ ]:
coffee

In [ ]:
import numpy as np
coffee['new_price'] = np.where(coffee['Coffee Type']=='Latte', 300,np.where(coffee['Coffee Type']=='Espresso',500,200)) #nested where function 
print(coffee)

In [ ]:
coffee.index.tolist()

In [ ]:
coffee

In [ ]:
# coffee.drop(0) #dropping a column doesnt loose that column.

In [ ]:
coffee

In [ ]:
coffee.drop(0,inplace=True) #using inplace will permenantly remove the row. rerunning it will throw an error as the index 0 doesnt exist anymore

In [ ]:
coffee

In [ ]:
coffee.drop(columns='price')

In [ ]:
coffee['revenue'] = coffee['Units Sold'] * coffee['new_price']
coffee

In [ ]:
coffee.drop(columns='price', inplace=True)

In [ ]:
coffee.rename(columns={'new_price':'price'})

In [ ]:
bios_new=bios.copy()

In [ ]:
bios

In [ ]:
#retrieving only the first name of a player
bios_new['first_name'] = bios_new['name'].str.split(" ").str[0]

In [ ]:
bios_new

In [ ]:
bios_new['born_datetime'] = pd.to_datetime(bios_new['born_date'])

In [ ]:
bios_new.info()

In [ ]:
bios_new['born_year'] = bios_new['born_datetime'].dt.year

In [ ]:
bios_new[['name','born_year']]

# Saving The Dataframe

In [ ]:
bios_new.to_csv(r'C:\Users\zoyba\python\LIBRARIES\complete-pandas-tutorial-master\data\bios_new.csv')

## adding/removing columns using lambda function

In [ ]:
bios['height_category'] = bios['height_cm'].apply(lambda x: 'Short' if x<165 else('Average' if x<185 else 'Tall'))

In [ ]:
bios.tail()

In [ ]:
def weight_category(row):
    if row['height_cm']<175 and row['weight_kg']<75:
        return 'LightWeight'
    elif row['height_cm']<195 or row['weight_kg']<80:
        return 'MediumWeight'
    else:
        return 'HeavyWeight'

bios['Category'] = bios.apply(weight_category,axis=1)
bios

In [ ]:
nocs = pd.read_csv(r'C:\Users\zoyba\python\LIBRARIES\complete-pandas-tutorial-master\data\noc_regions.csv')

In [ ]:
nocs